{% extends "ble/home.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
{% endblock %}
{% block container %}
<div class="row">
 <h1>{{ device.name }}</h1>
 <div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Temperature Chart
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      {% if  data|length > 2 %}
      <div id="temp-line-chart" style="height: 250px;"></div>
      {% else %}
      No data for this device.
      {% endif %}
    </div>
    <!-- /.panel-body -->
  </div>
</div>
<div class="container col-md-4">
  <h3>{{device.gateway}} Related Devices</h3>
  <div class="panel panel-default">
    <div class="panel-body" style="text-align:center;">
      <div class="row">
            {% for each_device in device.gateway.devices.all %}
                <div class="col-md-4">
                  <a href="{% url 'device' each_device.ble_device_id %}" class="btn btn-primary btn-{{each_device.temp_status}}" role="button">{{each_device.name}}
              <br>
              {% with current_temp=each_device.current_temp|default_if_none:'--' %}
                {{current_temp|floatformat:2}}
              {% endwith %}&#8451</a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <br>
            <div class="row">
                {% endif %}
            {% empty %}
              No devices attached.
            {% endfor %}
          </div>

    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  {% if  data|length > 2 %}
  var data = {{data|safe}};
  $(function () {
    config = {
      data: data,
      xkey: 'y',
      ykeys: ['temperature'],
      goals:['{{ device.max_temp }}','{{ device.min_temp }}'],
      goalLineColors:['red', 'green'],
      labels: ['{{device.name}}'],
      fillOpacity: 0.6,
      hideHover: 'auto',
      behaveLikeLine: true,
      resize: true,
      pointFillColors:['#ffffff'],
      pointStrokeColors: ['black'],
      lineColors:['blue',]
    };
    config.element = 'temp-line-chart';
    Morris.Line(config);
  });
  {% endif %}
</script>
{% endblock scripts %}