{% extends "ble/home.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
{% endblock %}
{% block container %}
	<h1>{{ device.name }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Temperature Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  {% if  data|length > 2 %}
                    <div id="temp-line-chart" style="height: 250px;"></div>
                  {% else %}
                    No data for this device.
                  {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4 col-container">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-bluetooth-b" aria-hidden="true"></i> {{device.gateway}} Related Devices
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="list-group">
                    {% for each_device in device.gateway.devices.all %}
                      <a href="{% url 'device' each_device.ble_device_id %}" class="list-group-item list-group-item list-group-item-{{each_device.temp_status}}">{{each_device.name}}         {{each_device.current_temp|default_if_none:--}}&#8451</a>
                    {% empty %}
                        <td>No devices attached.</td>
                    {% endfor %}
                  </div>
              </div>
              <!-- /.panel-body -->
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% if  data|length > 2 %}
  var data = {{data|safe}};
	$(function () {
		    config = {
		      data: data,
		      xkey: 'y',
		      ykeys: ['temperature'],
              goals:['{{ device.max_temp }}','{{ device.min_temp }}'],
              goalLineColors:['red', 'green'],
		      labels: ['{{device.name}}'],
		      fillOpacity: 0.6,
		      hideHover: 'auto',
		      behaveLikeLine: true,
		      resize: true,
		      pointFillColors:['#ffffff'],
		      pointStrokeColors: ['black'],
		      lineColors:['blue',]
		  };
		config.element = 'temp-line-chart';
		Morris.Line(config);
	});
{% endif %}
</script>
{% endblock scripts %}