{% extends "ble/home.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'dist/css/gw-list.css' %}" rel="stylesheet">
{% endblock %}
{% block container %}
<br>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          {% for gateway in object_list %}
              <div class="col-md-4 pad-10-tp">
                <a href="{% url 'room-detail' gateway.pk %}" class="btn btn-primary room-button" role="button"><h4>{{gateway.title}}</h4>
                {% for status_count in gateway.status_wise_tags %}
                  <div class="device_list">
                   <span class="badge">{{status_count.ble_device_id__count}}</span>  {{status_count.environment__temp_status}}
                  </div>
                {% endfor %}
                </a>
              </div>
          {% empty %}
            <div style="text-align:center;">No rooms registered yet.</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div style="text-align:center;"> Warning: {{warning_tags_count}} </div>
        </div>
        <div class="row">
          <div style="text-align:center;">{{total_tags}} Tags</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}