{% extends "ble/home.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'dist/css/gw-list.css' %}" rel="stylesheet">
{% endblock %}
{% block search %}
  <li class="sidebar-search">
      <div class="input-group custom-search-form">
        <form method="GET" action="{% url 'home' %}">
          <input type="text" class="form-control search-box-width" name="name" placeholder="Search">
          <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
          </button>
        </form>
      </span>
      </div>
      <!-- /input-group -->
  </li>
{% endblock %}
{% block container %}
<div class="container custom-container-width">
  <h3>Shipments</h3>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Number of tags</th>
        <th>Registered on</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
	{% for gateway in object_list %}
	      <tr>
	        <td>{{ gateway.title }}</td>
          <td>{{ gateway.devices.count }}</td>
          <td>{{ gateway.created_on|date:"M d, Y" }}</td>
          <td><a href="{% url 'gateway' gateway.id%}" class="btn btn-primary btn-xs" role="button">Route Map</a></td>
	      </tr>
	{% empty %}
	    <td>No gateways.</td>
	{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}