{% extends "ble/home.html" %}
{% load staticfiles %}
{% block header %}
<link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
{% endblock %}
{% block container %}
	<h1>{{ gateway.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Temperature Chart
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="temp-line-chart" style="height: 250px;"></div>
                </div>
                <!-- /.panel-body -->
    
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(function () {
		var data = [
		      { y: '2012-02-24 09:00', temperature1: 24,  temperature2: 22},
		      { y: '2012-02-24 10:00', temperature1: 25,  temperature2: 23},
		      { y: '2012-02-24 11:00', temperature1: 26,  temperature2: 24},
		      { y: '2012-02-24 12:00', temperature1: 27,  temperature2: 25},
		      { y: '2012-02-24 13:00', temperature1: 28,  temperature2: 26},
		      { y: '2012-02-24 14:00', temperature1: 29,  temperature2: 27},
		      { y: '2012-02-24 15:00', temperature1: 30, temperature2: 28},
		      { y: '2012-02-24 16:00', temperature1: 31, temperature2: 29},
		      { y: '2012-02-24 17:00', temperature1: 32, temperature2: 30},
		      { y: '2012-02-24 18:00', temperature1: 33, temperature2: 31},
		      { y: '2012-02-24 19:00', temperature1: 34, temperature2: 32}
		    ],
		    config = {
		      data: data,
		      xkey: 'y',
		      ykeys: ['temperature1', 'temperature2'],
              ymin:15,
              ymax:40,
              goals:[35, 20],
              goalLineColors:['red', 'green'],
		      labels: ['Tag1', 'Tag2'],
		      fillOpacity: 0.6,
		      hideHover: 'auto',
		      behaveLikeLine: true,
		      resize: true,
		      pointFillColors:['#ffffff'],
		      pointStrokeColors: ['black'],
		      lineColors:['blue',]
		  };
		config.element = 'temp-line-chart';
		Morris.Line(config);
	});
</script>
{% endblock scripts %}