  <!-- {% extends "ble/home.html" %} -->
  {% load staticfiles %}
  {% block header %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>{{gateway}}</title>
  <style>
    #map {
      padding-top: 20px;
    }
    .col-container {
      padding: 50px 40px;
    }
  </style>
  {% endblock %}
  {% block container %}
  <div class="row">
    <h1>{{ gateway.title }}</h1>
    <div class="container col-md-4">
      <h3> Related Devices</h3>
      <div class="panel panel-default">
        <div class="panel-body" style="text-align:center;">
          <div class="row">
            {% for device in gateway.devices.all %}
                <div class="col-md-4">
                  <a href="{% url 'device' device.ble_device_id %}" class="btn btn-primary btn-{{device.temp_status}}" role="button">{{device.name}}
              <br>
              {% if device.current_temp %}
                {{device.current_temp|floatformat:2}}
              {% else %}
                --
              {% endif %}
              &#8451</a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <br>
            <div class="row">
                {% endif %}
                {% empty %}
              No devices attached.
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
